/*
 * CrowdStrike API Specification
 *
 * Use this API specification as a reference for the API endpoints you can use to interact with your Falcon environment. These endpoints support authentication via OAuth2 and interact with detections and network containment. For detailed usage guides and examples, see our [documentation inside the Falcon console](https://falcon.crowdstrike.com/support/documentation).     To use the APIs described below, combine the base URL with the path shown for each API endpoint. For commercial cloud customers, your base URL is `https://api.crowdstrike.com`.    Each API endpoint requires authorization via an OAuth2 token. Your first API request should retrieve an OAuth2 token using the `oauth2/token` endpoint, such as `https://api.crowdstrike.com/oauth2/token`. For subsequent requests, include the OAuth2 token in an HTTP authorization header. Tokens expire after 30 minutes, after which you should make a new token request to continue making API requests.
 *
 * The version of the OpenAPI document: 2026-01-28T00:00:04Z
 * 
 * Generated by: https://openapi-generator.tech
 */


use async_trait::async_trait;
use reqwest;
use std::sync::Arc;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration};
use crate::apis::ContentType;

#[async_trait]
pub trait RealTimeResponseAdminApi: Send + Sync {

    /// POST /real-time-response/combined/batch-admin-command/v1
    ///
    /// 
    async fn batch_admin_cmd(&self,  params: BatchAdminCmdParams ) -> Result<models::DomainMultiCommandExecuteResponseWrapper, Error<BatchAdminCmdError>>;

    /// GET /real-time-response/entities/admin-command/v1
    ///
    /// 
    async fn r_tr_check_admin_command_status(&self,  params: RTrCheckAdminCommandStatusParams ) -> Result<models::DomainStatusResponseWrapper, Error<RTrCheckAdminCommandStatusError>>;

    /// POST /real-time-response/entities/put-files/v1
    ///
    /// 
    async fn r_tr_create_put_files(&self,  params: RTrCreatePutFilesParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrCreatePutFilesError>>;

    /// POST /real-time-response/entities/put-files/v2
    ///
    /// 
    async fn r_tr_create_put_files_v2(&self,  params: RTrCreatePutFilesV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrCreatePutFilesV2Error>>;

    /// POST /real-time-response/entities/scripts/v1
    ///
    /// 
    async fn r_tr_create_scripts(&self,  params: RTrCreateScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrCreateScriptsError>>;

    /// POST /real-time-response/entities/scripts/v2
    ///
    /// 
    async fn r_tr_create_scripts_v2(&self,  params: RTrCreateScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrCreateScriptsV2Error>>;

    /// DELETE /real-time-response/entities/put-files/v1
    ///
    /// 
    async fn r_tr_delete_put_files(&self,  params: RTrDeletePutFilesParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrDeletePutFilesError>>;

    /// DELETE /real-time-response/entities/scripts/v1
    ///
    /// 
    async fn r_tr_delete_scripts(&self,  params: RTrDeleteScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrDeleteScriptsError>>;

    /// POST /real-time-response/entities/admin-command/v1
    ///
    /// 
    async fn r_tr_execute_admin_command(&self,  params: RTrExecuteAdminCommandParams ) -> Result<models::DomainCommandExecuteResponseWrapper, Error<RTrExecuteAdminCommandError>>;

    /// GET /real-time-response/entities/falcon-scripts/v1
    ///
    /// 
    async fn r_tr_get_falcon_scripts(&self,  params: RTrGetFalconScriptsParams ) -> Result<models::EmpowerapiMsaFalconScriptResponse, Error<RTrGetFalconScriptsError>>;

    /// GET /real-time-response/entities/put-file-contents/v1
    ///
    /// 
    async fn r_tr_get_put_file_contents(&self,  params: RTrGetPutFileContentsParams ) -> Result<Vec<i32>, Error<RTrGetPutFileContentsError>>;

    /// GET /real-time-response/entities/put-files/v1
    ///
    /// 
    async fn r_tr_get_put_files(&self,  params: RTrGetPutFilesParams ) -> Result<models::EmpowerapiMsaPfResponseV1, Error<RTrGetPutFilesError>>;

    /// GET /real-time-response/entities/put-files/v2
    ///
    /// 
    async fn r_tr_get_put_files_v2(&self,  params: RTrGetPutFilesV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrGetPutFilesV2Error>>;

    /// GET /real-time-response/entities/scripts/v1
    ///
    /// 
    async fn r_tr_get_scripts(&self,  params: RTrGetScriptsParams ) -> Result<models::EmpowerapiMsaPfResponseV1, Error<RTrGetScriptsError>>;

    /// GET /real-time-response/entities/scripts/v2
    ///
    /// 
    async fn r_tr_get_scripts_v2(&self,  params: RTrGetScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrGetScriptsV2Error>>;

    /// GET /real-time-response/queries/falcon-scripts/v1
    ///
    /// 
    async fn r_tr_list_falcon_scripts(&self,  params: RTrListFalconScriptsParams ) -> Result<models::EmpowerapiMsaIdListResponse, Error<RTrListFalconScriptsError>>;

    /// GET /real-time-response/queries/put-files/v1
    ///
    /// 
    async fn r_tr_list_put_files(&self,  params: RTrListPutFilesParams ) -> Result<models::BinservapiMsaPutFileResponse, Error<RTrListPutFilesError>>;

    /// GET /real-time-response/queries/scripts/v1
    ///
    /// 
    async fn r_tr_list_scripts(&self,  params: RTrListScriptsParams ) -> Result<models::BinservapiMsaPutFileResponse, Error<RTrListScriptsError>>;

    /// PATCH /real-time-response/entities/scripts/v1
    ///
    /// 
    async fn r_tr_update_scripts(&self,  params: RTrUpdateScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrUpdateScriptsError>>;

    /// PATCH /real-time-response/entities/scripts/v2
    ///
    /// 
    async fn r_tr_update_scripts_v2(&self,  params: RTrUpdateScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrUpdateScriptsV2Error>>;
}

pub struct RealTimeResponseAdminApiClient {
    configuration: Arc<configuration::Configuration>
}

impl RealTimeResponseAdminApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}


/// struct for passing parameters to the method [`RealTimeResponseAdminApi::batch_admin_cmd`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct BatchAdminCmdParams {
    /// Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/documentation/page/b8c1738c/real-time-response-and-network-containment#k893b7c0): - `cat` - `cd` - `clear` - `cp` - `encrypt` - `env` - `eventlog` - `filehash` - `get` - `getsid` - `help` - `history` - `ipconfig` - `kill` - `ls` - `map` - `memdump` - `mkdir` - `mount` - `mv` - `netstat` - `ps` - `put` - `reg query` - `reg set` - `reg delete` - `reg load` - `reg unload` - `restart` - `rm` - `run` - `runscript` - `shutdown` - `unmap` - `update history` - `update install` - `update list` - `update query` - `xmemdump` - `zip`  **`base_command`** Active-Responder command type we are going to execute, for example: `get` or `cp`.  Refer to the RTR documentation for the full list of commands. **`batch_id`** Batch ID to execute the command on.  Received from `/real-time-response/combined/batch-init-session/v1`. **`command_string`** Full command string for the command. For example  `get some_file.txt` **`optional_hosts`** List of a subset of hosts we want to run the command on.  If this list is supplied, only these hosts will receive the command.
    pub body: models::DomainBatchExecuteCommandRequest,
    /// Timeout for how long to wait for the request in seconds, default timeout is 30 seconds. Maximum is 5 minutes.
    pub timeout: Option<i32>,
    /// Timeout duration for how long to wait for the request in duration syntax. Example, `10s`. Valid units: `ns, us, ms, s, m, h`. Maximum is 5 minutes.
    pub timeout_duration: Option<String>,
    /// Timeout duration for how long a host has time to complete processing. Default value is a bit less than the overall timeout value. It cannot be greater than the overall request timeout. Maximum is < 5 minutes. Example, `10s`. Valid units: `ns, us, ms, s, m, h`. 
    pub host_timeout_duration: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_check_admin_command_status`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrCheckAdminCommandStatusParams {
    /// Cloud Request ID of the executed command to query
    pub cloud_request_id: String,
    /// Sequence ID that we want to retrieve. Command responses are chunked across sequences
    pub sequence_id: i32
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_create_put_files`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrCreatePutFilesParams {
    /// put-file to upload
    pub file: std::path::PathBuf,
    /// File description
    pub description: String,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_create_put_files_v2`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrCreatePutFilesV2Params {
    /// put-file to upload
    pub file: std::path::PathBuf,
    /// File description
    pub description: String,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_create_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrCreateScriptsParams {
    /// File description
    pub description: String,
    /// Permission for the custom-script. Valid permission values:   - `private`, usable by only the user who uploaded it   - `group`, usable by all RTR Admins   - `public`, usable by all active-responders and RTR admins
    pub permission_type: String,
    /// custom-script file to upload.  These should be powershell scripts.
    pub file: Option<std::path::PathBuf>,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>,
    /// The script text that you want to use to upload
    pub content: Option<String>,
    /// Platforms for the file. Currently supports: windows, mac, linux, . If no platform is provided, it will default to 'windows'
    pub platform: Option<Vec<String>>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_create_scripts_v2`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrCreateScriptsV2Params {
    /// File description
    pub description: String,
    /// Permission for the custom-script. Valid permission values:   - `private`, usable by only the user who uploaded it   - `group`, usable by all RTR Admins   - `public`, usable by all active-responders and RTR admins
    pub permission_type: String,
    /// custom-script file to upload.  These should be powershell scripts.
    pub file: Option<std::path::PathBuf>,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>,
    /// The script text that you want to use to upload
    pub content: Option<String>,
    /// Platforms for the file. Currently supports: windows, mac, linux, . If no platform is provided, it will default to 'windows'
    pub platform: Option<Vec<String>>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_delete_put_files`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrDeletePutFilesParams {
    /// File id
    pub ids: String
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_delete_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrDeleteScriptsParams {
    /// File id
    pub ids: String
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_execute_admin_command`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrExecuteAdminCommandParams {
    /// Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/documentation/page/b8c1738c/real-time-response-and-network-containment#k893b7c0): - `cat` - `cd` - `clear` - `cp` - `encrypt` - `env` - `eventlog` - `filehash` - `get` - `getsid` - `help` - `history` - `ipconfig` - `kill` - `ls` - `map` - `memdump` - `mkdir` - `mount` - `mv` - `netstat` - `ps` - `put` - `reg query` - `reg set` - `reg delete` - `reg load` - `reg unload` - `restart` - `rm` - `run` - `runscript` - `shutdown` - `unmap` - `update history` - `update install` - `update list` - `update query` - `xmemdump` - `zip`  Required values.  The rest of the fields are unused. **`base_command`** Active-Responder command type we are going to execute, for example: `get` or `cp`.  Refer to the RTR documentation for the full list of commands. **`command_string`** Full command string for the command. For example  `get some_file.txt` **`session_id`** RTR session ID to run the command on
    pub body: models::DomainCommandExecuteRequest
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_falcon_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetFalconScriptsParams {
    /// IDs of the Falcon scripts you want to retrieve
    pub ids: Vec<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_put_file_contents`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetPutFileContentsParams {
    /// put file ID
    pub id: String
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_put_files`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetPutFilesParams {
    /// File IDs
    pub ids: Vec<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_put_files_v2`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetPutFilesV2Params {
    /// File IDs
    pub ids: Vec<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetScriptsParams {
    /// File IDs
    pub ids: Vec<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_get_scripts_v2`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrGetScriptsV2Params {
    /// File IDs
    pub ids: Vec<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_list_falcon_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrListFalconScriptsParams {
    /// Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    pub filter: Option<String>,
    /// Starting index of overall result set from which to return ids.
    pub offset: Option<i32>,
    /// Number of ids to return.
    pub limit: Option<i32>,
    /// Sort by spec. Ex: 'created_at|asc'.
    pub sort: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_list_put_files`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrListPutFilesParams {
    /// Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    pub filter: Option<String>,
    /// Starting index of overall result set from which to return ids.
    pub offset: Option<String>,
    /// Number of ids to return.
    pub limit: Option<i32>,
    /// Sort by spec. Ex: 'created_at|asc'.
    pub sort: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_list_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrListScriptsParams {
    /// Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    pub filter: Option<String>,
    /// Starting index of overall result set from which to return ids.
    pub offset: Option<String>,
    /// Number of ids to return.
    pub limit: Option<i32>,
    /// Sort by spec. Ex: 'created_at|asc'.
    pub sort: Option<String>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_update_scripts`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrUpdateScriptsParams {
    /// ID to update
    pub id: String,
    /// custom-script file to upload.  These should be powershell scripts.
    pub file: Option<std::path::PathBuf>,
    /// File description
    pub description: Option<String>,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>,
    /// Permission for the custom-script. Valid permission values:   - `private`, usable by only the user who uploaded it   - `group`, usable by all RTR Admins   - `public`, usable by all active-responders and RTR admins
    pub permission_type: Option<String>,
    /// The script text that you want to use to upload
    pub content: Option<String>,
    /// Platforms for the file. Currently supports: windows, mac, linux, 
    pub platform: Option<Vec<String>>
}

/// struct for passing parameters to the method [`RealTimeResponseAdminApi::r_tr_update_scripts_v2`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct RTrUpdateScriptsV2Params {
    /// ID to update
    pub id: String,
    /// custom-script file to upload.  These should be powershell scripts.
    pub file: Option<std::path::PathBuf>,
    /// File description
    pub description: Option<String>,
    /// File name (if different than actual file name)
    pub name: Option<String>,
    /// The audit log comment
    pub comments_for_audit_log: Option<String>,
    /// Permission for the custom-script. Valid permission values:   - `private`, usable by only the user who uploaded it   - `group`, usable by all RTR Admins   - `public`, usable by all active-responders and RTR admins
    pub permission_type: Option<String>,
    /// The script text that you want to use to upload
    pub content: Option<String>,
    /// Platforms for the file. Currently supports: windows, mac, linux, 
    pub platform: Option<Vec<String>>
}


#[async_trait]
impl RealTimeResponseAdminApi for RealTimeResponseAdminApiClient {
    async fn batch_admin_cmd(&self,  params: BatchAdminCmdParams ) -> Result<models::DomainMultiCommandExecuteResponseWrapper, Error<BatchAdminCmdError>> {
        
        let BatchAdminCmdParams {
            body,
            timeout,
            timeout_duration,
            host_timeout_duration,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/combined/batch-admin-command/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = timeout {
            local_var_req_builder = local_var_req_builder.query(&[("timeout", &param_value.to_string())]);
        }
        if let Some(ref param_value) = timeout_duration {
            local_var_req_builder = local_var_req_builder.query(&[("timeout_duration", &param_value.to_string())]);
        }
        if let Some(ref param_value) = host_timeout_duration {
            local_var_req_builder = local_var_req_builder.query(&[("host_timeout_duration", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DomainMultiCommandExecuteResponseWrapper`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::DomainMultiCommandExecuteResponseWrapper`")))),
            }
        } else {
            let local_var_entity: Option<BatchAdminCmdError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_check_admin_command_status(&self,  params: RTrCheckAdminCommandStatusParams ) -> Result<models::DomainStatusResponseWrapper, Error<RTrCheckAdminCommandStatusError>> {
        
        let RTrCheckAdminCommandStatusParams {
            cloud_request_id,
            sequence_id,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/admin-command/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("cloud_request_id", &cloud_request_id.to_string())]);
        local_var_req_builder = local_var_req_builder.query(&[("sequence_id", &sequence_id.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DomainStatusResponseWrapper`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::DomainStatusResponseWrapper`")))),
            }
        } else {
            let local_var_entity: Option<RTrCheckAdminCommandStatusError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_create_put_files(&self,  params: RTrCreatePutFilesParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrCreatePutFilesError>> {
        
        let RTrCreatePutFilesParams {
            file,
            description,
            name,
            comments_for_audit_log,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-files/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        { let path = &file;
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        local_var_form = local_var_form.text("description", description.to_string());
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MsaReplyMetaOnly`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaReplyMetaOnly`")))),
            }
        } else {
            let local_var_entity: Option<RTrCreatePutFilesError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_create_put_files_v2(&self,  params: RTrCreatePutFilesV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrCreatePutFilesV2Error>> {
        
        let RTrCreatePutFilesV2Params {
            file,
            description,
            name,
            comments_for_audit_log,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-files/v2", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        { let path = &file;
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        local_var_form = local_var_form.text("description", description.to_string());
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`")))),
            }
        } else {
            let local_var_entity: Option<RTrCreatePutFilesV2Error> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_create_scripts(&self,  params: RTrCreateScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrCreateScriptsError>> {
        
        let RTrCreateScriptsParams {
            description,
            permission_type,
            file,
            name,
            comments_for_audit_log,
            content,
            platform,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        if let Some(ref path) = file {
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        local_var_form = local_var_form.text("description", description.to_string());
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        local_var_form = local_var_form.text("permission_type", permission_type.to_string());
        if let Some(local_var_param_value) = content {
            local_var_form = local_var_form.text("content", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = platform {
            local_var_form = local_var_form.text("platform", local_var_param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MsaReplyMetaOnly`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaReplyMetaOnly`")))),
            }
        } else {
            let local_var_entity: Option<RTrCreateScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_create_scripts_v2(&self,  params: RTrCreateScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrCreateScriptsV2Error>> {
        
        let RTrCreateScriptsV2Params {
            description,
            permission_type,
            file,
            name,
            comments_for_audit_log,
            content,
            platform,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v2", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        if let Some(ref path) = file {
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        local_var_form = local_var_form.text("description", description.to_string());
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        local_var_form = local_var_form.text("permission_type", permission_type.to_string());
        if let Some(local_var_param_value) = content {
            local_var_form = local_var_form.text("content", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = platform {
            local_var_form = local_var_form.text("platform", local_var_param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`")))),
            }
        } else {
            let local_var_entity: Option<RTrCreateScriptsV2Error> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_delete_put_files(&self,  params: RTrDeletePutFilesParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrDeletePutFilesError>> {
        
        let RTrDeletePutFilesParams {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-files/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("ids", &ids.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MsaReplyMetaOnly`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaReplyMetaOnly`")))),
            }
        } else {
            let local_var_entity: Option<RTrDeletePutFilesError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_delete_scripts(&self,  params: RTrDeleteScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrDeleteScriptsError>> {
        
        let RTrDeleteScriptsParams {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("ids", &ids.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MsaReplyMetaOnly`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaReplyMetaOnly`")))),
            }
        } else {
            let local_var_entity: Option<RTrDeleteScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_execute_admin_command(&self,  params: RTrExecuteAdminCommandParams ) -> Result<models::DomainCommandExecuteResponseWrapper, Error<RTrExecuteAdminCommandError>> {
        
        let RTrExecuteAdminCommandParams {
            body,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/admin-command/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DomainCommandExecuteResponseWrapper`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::DomainCommandExecuteResponseWrapper`")))),
            }
        } else {
            let local_var_entity: Option<RTrExecuteAdminCommandError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_falcon_scripts(&self,  params: RTrGetFalconScriptsParams ) -> Result<models::EmpowerapiMsaFalconScriptResponse, Error<RTrGetFalconScriptsError>> {
        
        let RTrGetFalconScriptsParams {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/falcon-scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(&ids.into_iter().map(|p| ("ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => local_var_req_builder.query(&[("ids", &ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaFalconScriptResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaFalconScriptResponse`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetFalconScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_put_file_contents(&self,  params: RTrGetPutFileContentsParams ) -> Result<Vec<i32>, Error<RTrGetPutFileContentsError>> {
        
        let RTrGetPutFileContentsParams {
            id,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-file-contents/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("id", &id.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;i32&gt;`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;i32&gt;`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetPutFileContentsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_put_files(&self,  params: RTrGetPutFilesParams ) -> Result<models::EmpowerapiMsaPfResponseV1, Error<RTrGetPutFilesError>> {
        
        let RTrGetPutFilesParams {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-files/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(&ids.into_iter().map(|p| ("ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => local_var_req_builder.query(&[("ids", &ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV1`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV1`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetPutFilesError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_put_files_v2(&self,  params: RTrGetPutFilesV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrGetPutFilesV2Error>> {
        
        let RTrGetPutFilesV2Params {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/put-files/v2", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(&ids.into_iter().map(|p| ("ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => local_var_req_builder.query(&[("ids", &ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetPutFilesV2Error> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_scripts(&self,  params: RTrGetScriptsParams ) -> Result<models::EmpowerapiMsaPfResponseV1, Error<RTrGetScriptsError>> {
        
        let RTrGetScriptsParams {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(&ids.into_iter().map(|p| ("ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => local_var_req_builder.query(&[("ids", &ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV1`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV1`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_get_scripts_v2(&self,  params: RTrGetScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrGetScriptsV2Error>> {
        
        let RTrGetScriptsV2Params {
            ids,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v2", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(&ids.into_iter().map(|p| ("ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => local_var_req_builder.query(&[("ids", &ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`")))),
            }
        } else {
            let local_var_entity: Option<RTrGetScriptsV2Error> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_list_falcon_scripts(&self,  params: RTrListFalconScriptsParams ) -> Result<models::EmpowerapiMsaIdListResponse, Error<RTrListFalconScriptsError>> {
        
        let RTrListFalconScriptsParams {
            filter,
            offset,
            limit,
            sort,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/queries/falcon-scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = filter {
            local_var_req_builder = local_var_req_builder.query(&[("filter", &param_value.to_string())]);
        }
        if let Some(ref param_value) = offset {
            local_var_req_builder = local_var_req_builder.query(&[("offset", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder = local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = sort {
            local_var_req_builder = local_var_req_builder.query(&[("sort", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaIdListResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaIdListResponse`")))),
            }
        } else {
            let local_var_entity: Option<RTrListFalconScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_list_put_files(&self,  params: RTrListPutFilesParams ) -> Result<models::BinservapiMsaPutFileResponse, Error<RTrListPutFilesError>> {
        
        let RTrListPutFilesParams {
            filter,
            offset,
            limit,
            sort,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/queries/put-files/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = filter {
            local_var_req_builder = local_var_req_builder.query(&[("filter", &param_value.to_string())]);
        }
        if let Some(ref param_value) = offset {
            local_var_req_builder = local_var_req_builder.query(&[("offset", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder = local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = sort {
            local_var_req_builder = local_var_req_builder.query(&[("sort", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BinservapiMsaPutFileResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::BinservapiMsaPutFileResponse`")))),
            }
        } else {
            let local_var_entity: Option<RTrListPutFilesError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_list_scripts(&self,  params: RTrListScriptsParams ) -> Result<models::BinservapiMsaPutFileResponse, Error<RTrListScriptsError>> {
        
        let RTrListScriptsParams {
            filter,
            offset,
            limit,
            sort,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/queries/scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = filter {
            local_var_req_builder = local_var_req_builder.query(&[("filter", &param_value.to_string())]);
        }
        if let Some(ref param_value) = offset {
            local_var_req_builder = local_var_req_builder.query(&[("offset", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder = local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = sort {
            local_var_req_builder = local_var_req_builder.query(&[("sort", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BinservapiMsaPutFileResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::BinservapiMsaPutFileResponse`")))),
            }
        } else {
            let local_var_entity: Option<RTrListScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_update_scripts(&self,  params: RTrUpdateScriptsParams ) -> Result<models::MsaReplyMetaOnly, Error<RTrUpdateScriptsError>> {
        
        let RTrUpdateScriptsParams {
            id,
            file,
            description,
            name,
            comments_for_audit_log,
            permission_type,
            content,
            platform,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v1", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::PATCH, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        local_var_form = local_var_form.text("id", id.to_string());
        if let Some(ref path) = file {
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        if let Some(local_var_param_value) = description {
            local_var_form = local_var_form.text("description", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = permission_type {
            local_var_form = local_var_form.text("permission_type", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = content {
            local_var_form = local_var_form.text("content", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = platform {
            local_var_form = local_var_form.text("platform", local_var_param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MsaReplyMetaOnly`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaReplyMetaOnly`")))),
            }
        } else {
            let local_var_entity: Option<RTrUpdateScriptsError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn r_tr_update_scripts_v2(&self,  params: RTrUpdateScriptsV2Params ) -> Result<models::EmpowerapiMsaPfResponseV2, Error<RTrUpdateScriptsV2Error>> {
        
        let RTrUpdateScriptsV2Params {
            id,
            file,
            description,
            name,
            comments_for_audit_log,
            permission_type,
            content,
            platform,
        } = params;
        

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/real-time-response/entities/scripts/v2", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::PATCH, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        let mut local_var_form = reqwest::multipart::Form::new();
        local_var_form = local_var_form.text("id", id.to_string());
        if let Some(ref path) = file {
            local_var_form = local_var_form.file("file", path.as_os_str()).await?;
        }
        if let Some(local_var_param_value) = description {
            local_var_form = local_var_form.text("description", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = name {
            local_var_form = local_var_form.text("name", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = comments_for_audit_log {
            local_var_form = local_var_form.text("comments_for_audit_log", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = permission_type {
            local_var_form = local_var_form.text("permission_type", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = content {
            local_var_form = local_var_form.text("content", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = platform {
            local_var_form = local_var_form.text("platform", local_var_param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
        }
        local_var_req_builder = local_var_req_builder.multipart(local_var_form);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmpowerapiMsaPfResponseV2`")))),
            }
        } else {
            let local_var_entity: Option<RTrUpdateScriptsV2Error> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

}

/// struct for typed errors of method [`RealTimeResponseAdminApi::batch_admin_cmd`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BatchAdminCmdError {
    Status400(models::DomainApiError),
    Status403(models::MsaErrorsOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::DomainApiError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_check_admin_command_status`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrCheckAdminCommandStatusError {
    Status401(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_create_put_files`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrCreatePutFilesError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_create_put_files_v2`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrCreatePutFilesV2Error {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_create_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrCreateScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_create_scripts_v2`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrCreateScriptsV2Error {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_delete_put_files`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrDeletePutFilesError {
    Status400(models::MsaReplyMetaOnly),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_delete_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrDeleteScriptsError {
    Status400(models::MsaReplyMetaOnly),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_execute_admin_command`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrExecuteAdminCommandError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_falcon_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetFalconScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_put_file_contents`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetPutFileContentsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::DomainApiError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_put_files`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetPutFilesError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_put_files_v2`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetPutFilesV2Error {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_get_scripts_v2`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrGetScriptsV2Error {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_list_falcon_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrListFalconScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_list_put_files`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrListPutFilesError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_list_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrListScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status404(models::DomainApiError),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_update_scripts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrUpdateScriptsError {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`RealTimeResponseAdminApi::r_tr_update_scripts_v2`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RTrUpdateScriptsV2Error {
    Status400(models::DomainApiError),
    Status403(models::MsaReplyMetaOnly),
    Status429(models::MsaReplyMetaOnly),
    Status500(models::MsaReplyMetaOnly),
    UnknownValue(serde_json::Value),
}

