/*
 * CrowdStrike API Specification
 *
 * Use this API specification as a reference for the API endpoints you can use to interact with your Falcon environment. These endpoints support authentication via OAuth2 and interact with detections and network containment. For detailed usage guides and examples, see our [documentation inside the Falcon console](https://falcon.crowdstrike.com/support/documentation).     To use the APIs described below, combine the base URL with the path shown for each API endpoint. For commercial cloud customers, your base URL is `https://api.crowdstrike.com`.    Each API endpoint requires authorization via an OAuth2 token. Your first API request should retrieve an OAuth2 token using the `oauth2/token` endpoint, such as `https://api.crowdstrike.com/oauth2/token`. For subsequent requests, include the OAuth2 token in an HTTP authorization header. Tokens expire after 30 minutes, after which you should make a new token request to continue making API requests.
 *
 * The version of the OpenAPI document: 2026-01-28T00:00:04Z
 *
 * Generated by: https://openapi-generator.tech
 */

use std::sync::Arc;

use async_trait::async_trait;
use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};

use super::{Error, configuration};
use crate::experimental::{
    apis::{ContentType, ResponseContent},
    models,
};

#[async_trait]
pub trait FilevantageApi: Send + Sync {
    /// POST /filevantage/entities/policies/v1
    ///
    /// After they are created, host and rule groups can be assigned, scheduled exclusions can be defined, and policy precedence can be set.
    async fn create_policies(
        &self,
        params: CreatePoliciesParams,
    ) -> Result<models::PoliciesResponse, Error<CreatePoliciesError>>;

    /// POST /filevantage/entities/rule-groups/v1
    ///
    /// Individual rules can be assigned to a rule group after it has been created.
    async fn create_rule_groups(
        &self,
        params: CreateRuleGroupsParams,
    ) -> Result<models::RulegroupsResponse, Error<CreateRuleGroupsError>>;

    /// POST /filevantage/entities/rule-groups-rules/v1
    ///
    /// Creates a new rule configuration within the specified rule group.
    async fn create_rules(
        &self,
        params: CreateRulesParams,
    ) -> Result<models::RulegroupsRulesResponse, Error<CreateRulesError>>;

    /// POST /filevantage/entities/policy-scheduled-exclusions/v1
    ///
    /// Creates a new scheduled exclusion configuration for the provided policy id.
    async fn create_scheduled_exclusions(
        &self,
        params: CreateScheduledExclusionsParams,
    ) -> Result<models::ScheduledexclusionsResponse, Error<CreateScheduledExclusionsError>>;

    /// DELETE /filevantage/entities/policies/v1
    ///
    /// Only disabled policies are allowed to be deleted.
    async fn delete_policies(
        &self,
        params: DeletePoliciesParams,
    ) -> Result<models::PoliciesDeleteResponse, Error<DeletePoliciesError>>;

    /// DELETE /filevantage/entities/rule-groups/v1
    ///
    /// The rule groups represented by the provided ids and all rules that they contain will be deleted.   Rule groups can only be deleted if they are not assigned to a policy.
    async fn delete_rule_groups(
        &self,
        params: DeleteRuleGroupsParams,
    ) -> Result<models::RulegroupsDeleteResponse, Error<DeleteRuleGroupsError>>;

    /// DELETE /filevantage/entities/rule-groups-rules/v1
    ///
    /// Rules that match a provided id will be deleted from the provided rule group id.
    async fn delete_rules(
        &self,
        params: DeleteRulesParams,
    ) -> Result<models::MsaspecQueryResponse, Error<DeleteRulesError>>;

    /// DELETE /filevantage/entities/policy-scheduled-exclusions/v1
    ///
    /// Scheduled exclusions that match a provided id will be deleted from the provided policy id.
    async fn delete_scheduled_exclusions(
        &self,
        params: DeleteScheduledExclusionsParams,
    ) -> Result<models::MsaspecQueryResponse, Error<DeleteScheduledExclusionsError>>;

    /// GET /filevantage/entities/actions/v1
    ///
    /// The processing results of each action that match the provided ids will be returned.
    async fn get_actions_mixin0(
        &self,
        params: GetActionsMixin0Params,
    ) -> Result<models::ActionsGetActionResponse, Error<GetActionsMixin0Error>>;

    /// GET /filevantage/entities/changes/v2
    ///
    /// Retrieve key attributes of Falcon FileVantage changes for the specified ids.
    async fn get_changes(
        &self,
        params: GetChangesParams,
    ) -> Result<models::ChangesGetChangesResponse, Error<GetChangesError>>;

    /// GET /filevantage/entities/change-content/v1
    ///
    /// Retrieves the before and after change content for the provided change id.
    async fn get_contents(
        &self,
        params: GetContentsParams,
    ) -> Result<models::ContentchangesChangeContentsResponse, Error<GetContentsError>>;

    /// GET /filevantage/entities/policies/v1
    ///
    /// The configuration of each policy that match the provided id will be returned.
    async fn get_policies(
        &self,
        params: GetPoliciesParams,
    ) -> Result<models::PoliciesResponse, Error<GetPoliciesError>>;

    /// GET /filevantage/entities/rule-groups/v1
    ///
    /// Full details of each rule group that matches a provided id will be returned in the response
    async fn get_rule_groups(
        &self,
        params: GetRuleGroupsParams,
    ) -> Result<models::RulegroupsResponse, Error<GetRuleGroupsError>>;

    /// GET /filevantage/entities/rule-groups-rules/v1
    ///
    /// Rules within the provided rule group id that match a provided id will be returned within the response.
    async fn get_rules(
        &self,
        params: GetRulesParams,
    ) -> Result<models::RulegroupsRulesResponse, Error<GetRulesError>>;

    /// GET /filevantage/entities/policy-scheduled-exclusions/v1
    ///
    /// Full details of each each scheduled exclusion that match a provided id will be returned in the response.
    async fn get_scheduled_exclusions(
        &self,
        params: GetScheduledExclusionsParams,
    ) -> Result<models::ScheduledexclusionsResponse, Error<GetScheduledExclusionsError>>;

    /// GET /filevantage/queries/changes/v3
    ///
    /// Returns a list of Falcon FileVantage change ids filtered, sorted and limited by the query parameters provided. It can retrieve an unlimited number of results using multiple requests.
    async fn high_volume_query_changes(
        &self,
        params: HighVolumeQueryChangesParams,
    ) -> Result<models::ChangesHighVolumeQueryResponse, Error<HighVolumeQueryChangesError>>;

    /// GET /filevantage/queries/actions/v1
    ///
    /// Returns the list of action ids filtered, sorted, and limited to the query parameters provided.
    async fn query_actions_mixin0(
        &self,
        params: QueryActionsMixin0Params,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryActionsMixin0Error>>;

    /// GET /filevantage/queries/changes/v2
    ///
    /// Returns a list of Falcon FileVantage change ids filtered, sorted and limited by the query parameters provided. Using this endpoint you can retrieve up to `10000` results by using pagination with multiple requests. If you need to retrieve more than `10000` results consider using the `/queries/changes/v3` endpoint
    async fn query_changes(
        &self,
        params: QueryChangesParams,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryChangesError>>;

    /// GET /filevantage/queries/policies/v1
    ///
    /// Policy ids will be returned sorted by a `precedence` order of ascending when a `sort` parameter is not provided.
    async fn query_policies(
        &self,
        params: QueryPoliciesParams,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryPoliciesError>>;

    /// GET /filevantage/queries/rule-groups/v1
    ///
    /// Rule group ids will be returned sorted by `created_timestamp` order if a `sort` parameter is not provided
    async fn query_rule_groups(
        &self,
        params: QueryRuleGroupsParams,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryRuleGroupsError>>;

    /// GET /filevantage/queries/policy-scheduled-exclusions/v1
    ///
    /// Retrieve the ids of all scheduled exclusions contained within the provided policy id
    async fn query_scheduled_exclusions(
        &self,
        params: QueryScheduledExclusionsParams,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryScheduledExclusionsError>>;

    /// POST /filevantage/entities/workflow/v1
    ///
    /// Provides the ability to initiate workflows for the specified change ids. Only 100 change ids can be provided per workflow request.
    async fn signal_changes_external(
        &self,
        params: SignalChangesExternalParams,
    ) -> Result<models::WorkflowResponse, Error<SignalChangesExternalError>>;

    /// POST /filevantage/entities/actions/v1
    ///
    /// Initiates the suppression, unsuppression, or purging of the provided change ids. Note that only 1 action may be initiated and active at a time.
    async fn start_actions(
        &self,
        params: StartActionsParams,
    ) -> Result<models::ActionsActionResponse, Error<StartActionsError>>;

    /// PATCH /filevantage/entities/policies/v1
    ///
    /// Only name, description, and enabled status of the policy is allowed to be update. Rule and host group assignment is performed via their respective patch end points.
    async fn update_policies(
        &self,
        params: UpdatePoliciesParams,
    ) -> Result<models::PoliciesResponse, Error<UpdatePoliciesError>>;

    /// PATCH /filevantage/entities/policies-host-groups/v1
    ///
    /// Manage host groups assigned to a policy.
    async fn update_policy_host_groups(
        &self,
        params: UpdatePolicyHostGroupsParams,
    ) -> Result<models::PoliciesResponse, Error<UpdatePolicyHostGroupsError>>;

    /// PATCH /filevantage/entities/policies-precedence/v1
    ///
    /// Requests that do not represent all ids of the provided policy type will not be processed.
    async fn update_policy_precedence(
        &self,
        params: UpdatePolicyPrecedenceParams,
    ) -> Result<models::PoliciesPrecedenceResponse, Error<UpdatePolicyPrecedenceError>>;

    /// PATCH /filevantage/entities/policies-rule-groups/v1
    ///
    /// Manage the rule groups assigned to the policy.   Rule groups must be of the same type as the policy they are being added:   * `WindowsRegistry` and `WindowsFiles` groups can only be added to a `Windows` policy.   * `LinuxFiles` groups can only be added to a `Linux` policy.   * `MacFiles` groups can only be added to a `Mac` policy.  When setting rule group precedence, the precedence for `all` rule group ids within the policy must be provided.
    async fn update_policy_rule_groups(
        &self,
        params: UpdatePolicyRuleGroupsParams,
    ) -> Result<models::PoliciesResponse, Error<UpdatePolicyRuleGroupsError>>;

    /// PATCH /filevantage/entities/rule-groups-rule-precedence/v1
    ///
    /// The ids for `all` rules contained within the rule group must be specified in the desired precedence order. Requests that do not represent all ids will not be processed.
    async fn update_rule_group_precedence(
        &self,
        params: UpdateRuleGroupPrecedenceParams,
    ) -> Result<models::RulegroupsResponse, Error<UpdateRuleGroupPrecedenceError>>;

    /// PATCH /filevantage/entities/rule-groups/v1
    ///
    /// Provides the ability to update the name and description of the rule group.
    async fn update_rule_groups(
        &self,
        params: UpdateRuleGroupsParams,
    ) -> Result<models::RulegroupsResponse, Error<UpdateRuleGroupsError>>;

    /// PATCH /filevantage/entities/rule-groups-rules/v1
    ///
    /// The rule must currently exist within the specified rule group.
    async fn update_rules(
        &self,
        params: UpdateRulesParams,
    ) -> Result<models::RulegroupsRulesResponse, Error<UpdateRulesError>>;

    /// PATCH /filevantage/entities/policy-scheduled-exclusions/v1
    ///
    /// Updates the provided scheduled exclusion configuration within the provided policy.
    async fn update_scheduled_exclusions(
        &self,
        params: UpdateScheduledExclusionsParams,
    ) -> Result<models::ScheduledexclusionsResponse, Error<UpdateScheduledExclusionsError>>;
}

pub struct FilevantageApiClient {
    configuration: Arc<configuration::Configuration>,
}

impl FilevantageApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}

/// struct for passing parameters to the method [`FilevantageApi::create_policies`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct CreatePoliciesParams {
    /// Create a new policy.   * `name` must be between 1 and 100 characters.   * `description` can be between 0 and 500 characters.   * `platform` must be one of `Windows`, `Linux`, or `Mac`   Rule and host group assignment and policy precedence setting is performed via their respective patch end-points.
    pub body: models::PoliciesCreateRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::create_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct CreateRuleGroupsParams {
    /// Create a new rule group of a specific type.   * `name` must be between 1 and 100 characters.   * `type` must be one of `WindowsFiles`, `WindowsRegistry`, `LinuxFiles` or `MacFiles`.   * `description` can be between 0 and 500 characters.   Note: rules are added/removed from rule groups using their dedicated end-points.
    pub body: models::RulegroupsCreateRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::create_rules`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct CreateRulesParams {
    /// Create a new rule configuration for the specified rule group.   * `id` is not supported for creation of a rule, the new id of the created rule will be included in the response.   * `rule_group_id` to add the new rule configuration.   * `description` can be between 0 and 500 characters.   * `path` representing the file system or registry path to monitor.     * must be between 1 and 250 characters.      * All paths must end with the path separator, e.g. c:\\windows\\ /usr/bin/    * `severity` to categorize change events produced by this rule; must be one of: `Low`, `Medium`, `High` or `Critical`   * `depth` below the base path to monitor; must be one of: `1`, `2`, `3`, `4`, `5` or `ANY`   * `precedence` - is not supported for creation of a rule, new rules will be added last in precedence order.  Falcon GLOB syntax is supported for the following 6 properties. Allowed rule group configuration is based on the type of rule group the rule group is added to.   * `include` represents the files, directories, registry keys, or registry values that will be monitored.    * `exclude` represents the files, directories, registry keys, or registry values that will `NOT` be monitored.    * `include_users` represents the changes performed by specific users that will be monitored.   * `exclude_users` represents the changes performed by specific users that will `NOT` be monitored.   * `include_processes` represents the changes performed by specific processes that will be monitored.   * `exclude_processes` represents the changes performed by specific processes that will be `NOT` monitored.   * `content_files` represents the files whose content will be monitored. Listed files must match the file include pattern and not match the file exclude pattern   * `content_registry_values` represents the registry values whose content will be monitored. Listed registry values must match the registry include pattern and not match the registry exclude pattern   * `enable_content_capture`   * `enable_hash_capture`  File system directory monitoring:   * `watch_delete_directory_changes`   * `watch_create_directory_changes`   * `watch_rename_directory_changes`   * `watch_attributes_directory_changes` (`macOS` is not supported at this time)   * `watch_permissions_directory_changes` (`macOS` is not supported at this time)  File system file monitoring:   * `watch_rename_file_changes`   * `watch_write_file_changes`   * `watch_create_file_changes`   * `watch_delete_file_changes`   * `watch_attributes_file_changes` (`macOS` is not supported at this time)   * `watch_permissions_file_changes` (`macOS` is not supported at this time)  Windows registry key and value monitoring:    * `watch_create_key_changes`   * `watch_delete_key_changes`   * `watch_rename_key_changes`   * `watch_set_value_changes`   * `watch_permissions_key_changes`   * `watch_delete_value_changes`   * `watch_create_file_changes`
    pub body: models::RulegroupsRule,
}

/// struct for passing parameters to the method [`FilevantageApi::create_scheduled_exclusions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct CreateScheduledExclusionsParams {
    /// Create a new scheduled exclusion configuration for the specified policy.      * `policy_id` to add the scheduled exclusion to.   * `name` must be between 1 and 100 characters.   * `description` can be between 0 and 500 characters.   * `users` can be between 0 and 500 characters representing a comma separated list of user to exclude their changes.      *  admin* excludes changes made by all usernames that begin with admin. Falon GLOB syntax is supported.   * `processes` can be between 0 and 500 characters representing a comma separated list of processes to exclude their changes.      * **\\RunMe.exe or **_/RunMe.sh excludes changes made by RunMe.exe or RunMe.sh in any location.   * `schedule_start` must be provided to indicate the start of the schedule. This date/time must be an rfc3339 formatted string  https://datatracker.ietf.org/doc/html/rfc3339.   * `schedule_end` optionally provided to indicate the end of the schedule. This date/time must be an rfc3339 formatted string  https://datatracker.ietf.org/doc/html/rfc3339.   * `timezone`  must be provided to indicate the TimeZone Name set for the provided `scheduled_start` and `scheduled_end` values. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.   * `repeated` optionally provided to indicate that the exclusion is applied repeatedly within the `scheduled_start` and `scheduled_end` time.      * `start_time` must be the hour(00-23) and minute(00-59) of the day formatted as `HH:MM`. Required if `all_day` is not set to `true`      * `end_time` must be the hour(00-23) and minute(00-59) of the day formatted as `HH:MM`. Required if `all_day` is not set to `true`      * `all_day` must be `true` or `false` to indicate the exclusion is applied all day.       * `frequency` must be one of `daily`, `weekly` or `monthly`.       * `occurrence` must be one of the following when `frequency` is set to `monthly`:        * `1st`, `2nd`, `3rd`, `4th` or `Last` represents the week.        * `Days` represents specific calendar days.      * `weekly_days` must be one or more of `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday` or `Sunday` when `frequency` is set to `weekly` or `frequency` is set to `monthly` and `occurrence` is NOT set to `Days`.       * `monthly_days` must be set to one or more calendar days, between 1 and 31  when `frequency` is set to `monthly` and `occurrence` is set to `Days`.
    pub body: models::ScheduledexclusionsCreateRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::delete_policies`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct DeletePoliciesParams {
    /// One or more (up to 500) policy ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::delete_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct DeleteRuleGroupsParams {
    /// One or more (up to 500) rule group ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::delete_rules`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct DeleteRulesParams {
    /// The id of the rule group from which the rules will be deleted.
    pub rule_group_id: String,
    /// One or more (up to 500) rule ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::delete_scheduled_exclusions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct DeleteScheduledExclusionsParams {
    /// ID of the policy to delete the scheduled exclusions from.
    pub policy_id: String,
    /// One or more (up to 500) scheduled exclusion ids in the form of `ids=ID1&ids=ID2`.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_actions_mixin0`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetActionsMixin0Params {
    /// One or more actions ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_changes`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetChangesParams {
    /// One or more change ids in the form of `ids=ID1&ids=ID2`. The maximum number of ids that can be requested at once is `500`.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_contents`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetContentsParams {
    /// ID of the change in the form of id=ID1
    pub id: String,
    /// Providing the value of `gzip` compresses the response, otherwise the content is returned uncompressed.
    pub accept_encoding: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_policies`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetPoliciesParams {
    /// One or more (up to 500) policy ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetRuleGroupsParams {
    /// One or more (up to 500) rule group ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_rules`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetRulesParams {
    /// Rule group from which to retrieve the rule configuration.
    pub rule_group_id: String,
    /// One or more (up to 500) rule ids in the form of `ids=ID1&ids=ID2`.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::get_scheduled_exclusions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct GetScheduledExclusionsParams {
    /// The id of the policy to retrieve the scheduled exclusion configurations.
    pub policy_id: String,
    /// One or more (up to 500) scheduled exclusion ids in the form of `ids=ID1&ids=ID2`.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::high_volume_query_changes`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct HighVolumeQueryChangesParams {
    /// A pagination token used with the `limit` parameter to manage pagination of results. On your first request don't provide a value for the `after` token. On subsequent requests provide the `after` token value from the previous response to continue pagination from where you left. If the response returns an empty `after` token it means there are no more results to return.
    pub after: Option<String>,
    /// The maximum number of ids to return. Defaults to `100` if not specified. The maximum number of results that can be returned in a single call is `5000`.
    pub limit: Option<i32>,
    /// Sort results using options like:  - `action_timestamp` (timestamp of the change occurrence)   Sort either `asc` (ascending) or `desc` (descending). For example: `action_timestamp|asc`. Defaults to `action_timestamp|desc` no value is specified. The full list of allowed sorting options can be reviewed in our API documentation.
    pub sort: Option<String>,
    /// Filter changes using a query in Falcon Query Language (FQL).   Common filter options include:   - `host.name`  - `action_timestamp`   The full list of allowed filter parameters can be reviewed in our API documentation.
    pub filter: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::query_actions_mixin0`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct QueryActionsMixin0Params {
    /// The first action index to return in the response. If not provided it will default to '0'. Use with the `limit` parameter to manage pagination of results.
    pub offset: Option<u32>,
    /// The maximum number of actions to return in the response (default: 100; max: 500). Use with the `offset` parameter to manage pagination of results
    pub limit: Option<i32>,
    /// The sort expression that should be used to sort the results (e.g. created_date|desc)
    pub sort: Option<String>,
    /// Filter changes using a query in Falcon Query Language (FQL).   Common filter options include:   - `status`  - `operation_type`   The full list of allowed filter parameters can be reviewed in our API documentation.
    pub filter: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::query_changes`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct QueryChangesParams {
    /// The offset to start retrieving records from. Defaults to `0` if not specified.
    pub offset: Option<u32>,
    /// The maximum number of ids to return. Defaults to `100` if not specified. The maximum number of results that can be returned in a single call is `500`.
    pub limit: Option<i32>,
    /// Sort results using options like:  - `action_timestamp` (timestamp of the change occurrence)   Sort either `asc` (ascending) or `desc` (descending). For example: `action_timestamp|asc`. The full list of allowed sorting options can be reviewed in our API documentation.
    pub sort: Option<String>,
    /// Filter changes using a query in Falcon Query Language (FQL).   Common filter options include:   - `host.name`  - `action_timestamp`   The full list of allowed filter parameters can be reviewed in our API documentation.
    pub filter: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::query_policies`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct QueryPoliciesParams {
    /// The types of policies to retrieve.   Allowed values are: `Windows`, `Linux` or `Mac`.
    pub r#type: String,
    /// The offset to start retrieving records from. Defaults to 0 if not specified.
    pub offset: Option<u32>,
    /// The maximum number of ids to return. Defaults to 100 if not specified. The maximum number of results that can be returned in a single call is 500.
    pub limit: Option<i32>,
    /// Sort the returned ids based on one of the following properties:  `precedence`, `created_timestamp` or `modified_timestamp`   Sort either `asc` (ascending) or `desc` (descending);  for example: `precedence|asc`.
    pub sort: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::query_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct QueryRuleGroupsParams {
    /// The rule group type to retrieve the ids of.   Allowed values are: `WindowsFiles`, `WindowsRegistry`, `LinuxFiles` or `MacFiles`.
    pub r#type: String,
    /// The offset to start retrieving records from. Defaults to 0 if not specified.
    pub offset: Option<u32>,
    /// The maximum number of ids to return. Defaults to 100 if not specified. The maximum number of results that can be returned in a single call is 500.
    pub limit: Option<i32>,
    /// Sort the returned ids based on one of the following properties:   `created_timestamp` or `modified_timestamp`   Sort either `asc` (ascending) or `desc` (descending);  for example: `created_timestamp|asc`.
    pub sort: Option<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::query_scheduled_exclusions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct QueryScheduledExclusionsParams {
    /// The id of the policy from which to retrieve the scheduled exclusion ids.
    pub policy_id: String,
}

/// struct for passing parameters to the method [`FilevantageApi::signal_changes_external`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct SignalChangesExternalParams {
    /// Change ids to initiate the workflows; limited to 100 per request.
    pub body: models::WorkflowRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::start_actions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct StartActionsParams {
    /// Create a new action.   * `operation` must be one of the `suppress`, `unsuppress`, or `purge`   * `change_ids` represent the ids of the changes the operation will perform; limited to 100 ids per action   * `comment` optional comment to describe the reason for the action
    pub body: models::ActionsCreateActionRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::update_policies`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdatePoliciesParams {
    /// Enables updates to the following fields for an existing policy.    * `id` of the policy to update.   * `name` must be between 1 and 100 characters.   * `description` can be between 0 and 500 characters.   * `platform` may not be modified after the policy is created.   * `enabled` must be one of `true` or `false`.   Rule and host group assignment and policy precedence setting is performed via their respective patch end-points.
    pub body: models::PoliciesUpdateRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::update_policy_host_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdatePolicyHostGroupsParams {
    /// The id of the policy for which to perform the action.
    pub policy_id: String,
    /// The action to perform with the provided ids, must be one of: `assign` or `unassign`.
    pub action: String,
    /// One or more host group ids in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::update_policy_precedence`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdatePolicyPrecedenceParams {
    /// Precedence of the policies for the provided type in the form of `ids=ID1&ids=ID2`
    pub ids: Vec<String>,
    /// The policy type for which to set the precedence order, must be one of `Windows`, `Linux` or `Mac`.
    pub r#type: String,
}

/// struct for passing parameters to the method [`FilevantageApi::update_policy_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdatePolicyRuleGroupsParams {
    /// The id of the policy for which to perform the action.
    pub policy_id: String,
    /// The action to perform with the provided ids, must be one of: `assign`, `unassign`, or `precedence`.
    pub action: String,
    /// One or more rule group ids in the form of ids=ID1&ids=ID2. Note, for the precedence action, precedence is controlled by the order of the ids as they are specified in the request.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::update_rule_group_precedence`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdateRuleGroupPrecedenceParams {
    /// Rule group from which to set the precedence.
    pub rule_group_id: String,
    /// One or more (up to 500) rule group ids in the form of `ids=ID1&ids=ID2`.
    pub ids: Vec<String>,
}

/// struct for passing parameters to the method [`FilevantageApi::update_rule_groups`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdateRuleGroupsParams {
    /// Enables updates to the following fields for an existing rule group.    * `id` of the rule group to update.   * `name` must be between 1 and 100 characters.   * `description` can be between 0 and 500 characters.   * `type` may not be modified after the rule group is created.   Note: rules are added/removed from rule groups using their dedicated end-points.
    pub body: models::RulegroupsUpdateRequest,
}

/// struct for passing parameters to the method [`FilevantageApi::update_rules`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdateRulesParams {
    /// Update the rule configuration for the specified rule ID and group.   * `id` of the rule to update.   * `rule_group_id` that contains the rule configuration.   * `description` can be between 0 and 500 characters.   * `path` representing the file system or registry path to monitor.     * must be between 1 and 250 characters.      * All paths must end with the path separator, e.g. c:\\windows\\ /usr/bin/    * `severity` to categorize change events produced by this rule; must be one of: `Low`, `Medium`, `High` or `Critical`   * `depth` below the base path to monitor; must be one of: `1`, `2`, `3`, `4`, `5` or `ANY`   * `precedence` is the order in which rules will be evaluated starting with 1. Specifying a precedence value that is already set for another rule in the group will result this rule being placed before that existing rule.  Falcon GLOB syntax is supported for the following 6 properties. Allowed rule group configuration is based on the type of rule group the rule group is added to.   * `include` represents the files, directories, registry keys, or registry values that will be monitored.    * `exclude` represents the files, directories, registry keys, or registry values that will `NOT` be monitored.    * `include_users` represents the changes performed by specific users that will be monitored.   * `exclude_users` represents the changes performed by specific users that will `NOT` be monitored.   * `include_processes` represents the changes performed by specific processes that will be monitored.   * `exclude_processes` represents the changes performed by specific processes that will be `NOT` monitored.   * `content_files` represents the files that will be monitored. Listed files must match the file include pattern and not match the file exclude pattern   * `content_registry_values` represents the registry values whose content will be monitored. Listed registry values must match the registry include pattern and not match the registry exclude pattern   * `enable_content_capture`   * `enable_hash_capture`  File system directory monitoring:   * `watch_delete_directory_changes`   * `watch_create_directory_changes`   * `watch_rename_directory_changes`   * `watch_attributes_directory_changes` (`macOS` is not supported at this time)   * `watch_permissions_directory_changes` (`macOS` is not supported at this time)  File system file monitoring:   * `watch_rename_file_changes`   * `watch_write_file_changes`   * `watch_create_file_changes`   * `watch_delete_file_changes`   * `watch_attributes_file_changes` (`macOS` is not supported at this time)   * `watch_permissions_file_changes` (`macOS` is not supported at this time)  Windows registry key and value monitoring:    * `watch_create_key_changes`   * `watch_delete_key_changes`   * `watch_rename_key_changes`   * `watch_set_value_changes`   * `watch_delete_value_changes`   * `watch_create_file_changes`
    pub body: models::RulegroupsRule,
}

/// struct for passing parameters to the method [`FilevantageApi::update_scheduled_exclusions`]
#[derive(Clone, Debug)]
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
pub struct UpdateScheduledExclusionsParams {
    /// Update an existing scheduled exclusion for the specified policy.      * `policy_id` to add the scheduled exclusion to.   * `name` must be between 1 and 100 characters.   * `description` can be between 0 and 500 characters.   * `users` can be between 0 and 500 characters representing a comma separated list of user to exclude their changes.      *  admin* excludes changes made by all usernames that begin with admin. Falon GLOB syntax is supported.   * `processes` can be between 0 and 500 characters representing a comma separated list of processes to exclude their changes.      * **\\RunMe.exe or **_/RunMe.sh excludes changes made by RunMe.exe or RunMe.sh in any location.   * `schedule_start` must be provided to indicate the start of the schedule. This date/time must be an rfc3339 formatted string  https://datatracker.ietf.org/doc/html/rfc3339.   * `schedule_end` optionally provided to indicate the end of the schedule. This date/time must be an rfc3339 formatted string  https://datatracker.ietf.org/doc/html/rfc3339.   * `timezone`  must be provided to indicate the TimeZone Name set for the provided `scheduled_start` and `scheduled_end` values. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.   * `repeated` optionally provided to indicate that the exclusion is applied repeatedly within the `scheduled_start` and `scheduled_end` time.      * `start_time` must be the hour(00-23) and minute(00-59) of the day formatted as `HH:MM`. Required if `all_day` is not set to `true`      * `end_time` must be the hour(00-23) and minute(00-59) of the day formatted as `HH:MM`. Required if `all_day` is not set to `true`      * `all_day` must be `true` or `false` to indicate the exclusion is applied all day.       * `frequency` must be one of `daily`, `weekly` or `monthly`.       * `occurrence` must be one of the following when `frequency` is set to `monthly`:        * `1st`, `2nd`, `3rd`, `4th` or `Last` represents the week.        * `Days` represents specific calendar days.      * `weekly_days` must be one or more of `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday` or `Sunday` when `frequency` is set to `weekly` or `frequency` is set to `monthly` and `occurrence` is NOT set to `Days`.       * `monthly_days` must be set to one or more calendar days, between 1 and 31  when `frequency` is set to `monthly` and `occurrence` is set to `Days`.
    pub body: models::ScheduledexclusionsUpdateRequest,
}

#[async_trait]
impl FilevantageApi for FilevantageApiClient {
    /// After they are created, host and rule groups can be assigned, scheduled exclusions can be defined, and policy precedence can be set.
    async fn create_policies(
        &self,
        params: CreatePoliciesParams,
    ) -> Result<models::PoliciesResponse, Error<CreatePoliciesError>> {
        let CreatePoliciesParams { body } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policies/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::PoliciesResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::PoliciesResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<CreatePoliciesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Individual rules can be assigned to a rule group after it has been created.
    async fn create_rule_groups(
        &self,
        params: CreateRuleGroupsParams,
    ) -> Result<models::RulegroupsResponse, Error<CreateRuleGroupsError>> {
        let CreateRuleGroupsParams { body } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::RulegroupsResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::RulegroupsResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<CreateRuleGroupsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Creates a new rule configuration within the specified rule group.
    async fn create_rules(
        &self,
        params: CreateRulesParams,
    ) -> Result<models::RulegroupsRulesResponse, Error<CreateRulesError>> {
        let CreateRulesParams { body } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups-rules/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::RulegroupsRulesResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::RulegroupsRulesResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<CreateRulesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Creates a new scheduled exclusion configuration for the provided policy id.
    async fn create_scheduled_exclusions(
        &self,
        params: CreateScheduledExclusionsParams,
    ) -> Result<models::ScheduledexclusionsResponse, Error<CreateScheduledExclusionsError>> {
        let CreateScheduledExclusionsParams { body } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policy-scheduled-exclusions/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ScheduledexclusionsResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ScheduledexclusionsResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<CreateScheduledExclusionsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Only disabled policies are allowed to be deleted.
    async fn delete_policies(
        &self,
        params: DeletePoliciesParams,
    ) -> Result<models::PoliciesDeleteResponse, Error<DeletePoliciesError>> {
        let DeletePoliciesParams { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policies/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::PoliciesDeleteResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::PoliciesDeleteResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<DeletePoliciesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The rule groups represented by the provided ids and all rules that they contain will be deleted.   Rule groups can only be deleted if they are not assigned to a policy.
    async fn delete_rule_groups(
        &self,
        params: DeleteRuleGroupsParams,
    ) -> Result<models::RulegroupsDeleteResponse, Error<DeleteRuleGroupsError>> {
        let DeleteRuleGroupsParams { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::RulegroupsDeleteResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::RulegroupsDeleteResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<DeleteRuleGroupsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Rules that match a provided id will be deleted from the provided rule group id.
    async fn delete_rules(
        &self,
        params: DeleteRulesParams,
    ) -> Result<models::MsaspecQueryResponse, Error<DeleteRulesError>> {
        let DeleteRulesParams { rule_group_id, ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups-rules/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder =
            local_var_req_builder.query(&[("rule_group_id", &rule_group_id.to_string())]);
        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::MsaspecQueryResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaspecQueryResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<DeleteRulesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Scheduled exclusions that match a provided id will be deleted from the provided policy id.
    async fn delete_scheduled_exclusions(
        &self,
        params: DeleteScheduledExclusionsParams,
    ) -> Result<models::MsaspecQueryResponse, Error<DeleteScheduledExclusionsError>> {
        let DeleteScheduledExclusionsParams { policy_id, ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policy-scheduled-exclusions/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        local_var_req_builder =
            local_var_req_builder.query(&[("policy_id", &policy_id.to_string())]);
        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::MsaspecQueryResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaspecQueryResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<DeleteScheduledExclusionsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The processing results of each action that match the provided ids will be returned.
    async fn get_actions_mixin0(
        &self,
        params: GetActionsMixin0Params,
    ) -> Result<models::ActionsGetActionResponse, Error<GetActionsMixin0Error>> {
        let GetActionsMixin0Params { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/actions/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ActionsGetActionResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ActionsGetActionResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetActionsMixin0Error> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Retrieve key attributes of Falcon FileVantage changes for the specified ids.
    async fn get_changes(
        &self,
        params: GetChangesParams,
    ) -> Result<models::ChangesGetChangesResponse, Error<GetChangesError>> {
        let GetChangesParams { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/changes/v2",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ChangesGetChangesResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ChangesGetChangesResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetChangesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Retrieves the before and after change content for the provided change id.
    async fn get_contents(
        &self,
        params: GetContentsParams,
    ) -> Result<models::ContentchangesChangeContentsResponse, Error<GetContentsError>> {
        let GetContentsParams {
            id,
            accept_encoding,
        } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/change-content/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("id", &id.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = accept_encoding {
            local_var_req_builder =
                local_var_req_builder.header("Accept-Encoding", local_var_param_value.to_string());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ContentchangesChangeContentsResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ContentchangesChangeContentsResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetContentsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The configuration of each policy that match the provided id will be returned.
    async fn get_policies(
        &self,
        params: GetPoliciesParams,
    ) -> Result<models::PoliciesResponse, Error<GetPoliciesError>> {
        let GetPoliciesParams { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policies/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::PoliciesResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::PoliciesResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetPoliciesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Full details of each rule group that matches a provided id will be returned in the response
    async fn get_rule_groups(
        &self,
        params: GetRuleGroupsParams,
    ) -> Result<models::RulegroupsResponse, Error<GetRuleGroupsError>> {
        let GetRuleGroupsParams { ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::RulegroupsResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::RulegroupsResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetRuleGroupsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Rules within the provided rule group id that match a provided id will be returned within the response.
    async fn get_rules(
        &self,
        params: GetRulesParams,
    ) -> Result<models::RulegroupsRulesResponse, Error<GetRulesError>> {
        let GetRulesParams { rule_group_id, ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/rule-groups-rules/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder =
            local_var_req_builder.query(&[("rule_group_id", &rule_group_id.to_string())]);
        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::RulegroupsRulesResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::RulegroupsRulesResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetRulesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Full details of each each scheduled exclusion that match a provided id will be returned in the response.
    async fn get_scheduled_exclusions(
        &self,
        params: GetScheduledExclusionsParams,
    ) -> Result<models::ScheduledexclusionsResponse, Error<GetScheduledExclusionsError>> {
        let GetScheduledExclusionsParams { policy_id, ids } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/entities/policy-scheduled-exclusions/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder =
            local_var_req_builder.query(&[("policy_id", &policy_id.to_string())]);
        local_var_req_builder = match "multi" {
            "multi" => local_var_req_builder.query(
                &ids.into_iter()
                    .map(|p| ("ids".to_owned(), p.to_string()))
                    .collect::<Vec<(std::string::String, std::string::String)>>(),
            ),
            _ => local_var_req_builder.query(&[(
                "ids",
                &ids.into_iter()
                    .map(|p| p.to_string())
                    .collect::<Vec<String>>()
                    .join(",")
                    .to_string(),
            )]),
        };
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ScheduledexclusionsResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ScheduledexclusionsResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetScheduledExclusionsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns a list of Falcon FileVantage change ids filtered, sorted and limited by the query parameters provided. It can retrieve an unlimited number of results using multiple requests.
    async fn high_volume_query_changes(
        &self,
        params: HighVolumeQueryChangesParams,
    ) -> Result<models::ChangesHighVolumeQueryResponse, Error<HighVolumeQueryChangesError>> {
        let HighVolumeQueryChangesParams {
            after,
            limit,
            sort,
            filter,
        } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/queries/changes/v3",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = after {
            local_var_req_builder =
                local_var_req_builder.query(&[("after", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder =
                local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = sort {
            local_var_req_builder =
                local_var_req_builder.query(&[("sort", &param_value.to_string())]);
        }
        if let Some(ref param_value) = filter {
            local_var_req_builder =
                local_var_req_builder.query(&[("filter", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ChangesHighVolumeQueryResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ChangesHighVolumeQueryResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<HighVolumeQueryChangesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns the list of action ids filtered, sorted, and limited to the query parameters provided.
    async fn query_actions_mixin0(
        &self,
        params: QueryActionsMixin0Params,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryActionsMixin0Error>> {
        let QueryActionsMixin0Params {
            offset,
            limit,
            sort,
            filter,
        } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/queries/actions/v1",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = offset {
            local_var_req_builder =
                local_var_req_builder.query(&[("offset", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder =
                local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = sort {
            local_var_req_builder =
                local_var_req_builder.query(&[("sort", &param_value.to_string())]);
        }
        if let Some(ref param_value) = filter {
            local_var_req_builder =
                local_var_req_builder.query(&[("filter", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_token) = local_var_configuration.oauth_access_token {
            local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
        };

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::MsaspecQueryResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::MsaspecQueryResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<QueryActionsMixin0Error> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns a list of Falcon FileVantage change ids filtered, sorted and limited by the query parameters provided. Using this endpoint you can retrieve up to `10000` results by using pagination with multiple requests. If you need to retrieve more than `10000` results consider using the `/queries/changes/v3` endpoint
    async fn query_changes(
        &self,
        params: QueryChangesParams,
    ) -> Result<models::MsaspecQueryResponse, Error<QueryChangesError>> {
        let QueryChangesParams {
            offset,
            limit,
            sort,
            filter,
        } = params;

        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/filevantage/queries/changes/v2",
            local_var_configuration.base_path
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = offset {
            local_var_req_builder =
                local_var_req_builder.query(&[("offset", &param_value.to_string())]);
        }
        if let Some(ref param_value) = limit {
            local_var_req_builder =
[...]
